    <nav class="navbar navbar-expand-sm navbar-dark bg-white container mb-2">
            <div class="container">
        <ul class="navbar-nav mt-2 mt-lg-0 col">
            <li class="nav-option nav-tag col text-center p-2" id="btn-home">
                <a class="nav-link " href="/admin/categories" aria-current="page">Category & Tag Management</a>
            </li>
            <li class="nav-option nav-tag col text-center p-2" id="btn-paper-management">
                <a class="nav-link" href="/admin/list-paper">Paper Management</a>
            </li>
            <li class="nav-option nav-tag col text-center p-2" id="btn-role-management">
                <a class="nav-link" href="/admin/list-user">Role Management</a>
            </li>
        </ul>
    </div>
        </nav>
    <form action="#" class="searchform order-sm-start order-lg-last">
            <div class="form-group d-flex mx-4">
                <input type=" text" class="form-control pl-3" placeholder="Search">
                <button type="guestmit" placeholder="" class="btn-search bg-light border border-1 rounded">
                    <i class="bi bi-search"></i>
                </button>
            </div>
    </form>
    <div class="row" id="cat-tag-management">
        <div class="option col-2 d-flex px-5 justify-content-center align-items-center">
            <div class="container">
                <a class="option-to-choose option-link d-block" id="cate-option" style="color: #357C4D;"><i class="fa-solid fa-caret-right"
                        style="color: #21ab51;"></i> Category</a>
                <a class="option-to-choose option-link d-block" id="tag-option">Tag</a>
            </div>  
            <div class="vertical-line" style="border-left: 1px solid black; height: 100%;"></div>
        </div>
        <div id="view-field mt-5 mb-5" class="col-9 d-flex align-items-center">
            <div id="cate" class="cate row w-100">
                {{#each listCategory}}
                     <div class="category-container row mb-2">
                    <div class="category col d-flex align-items-center">
                        <div class="col-2">
                            <button data-toggle="modal" data-target="#{{this.signname}}" class="cat-btn-agri d-flex justify-content-center align-items-center"
                            style="background-color: {{this.color}};">{{this.name}}</button>
                            <div class="modal fade" id="{{this.signname}}" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Update</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form  method="POST">
                                                <div class="form-group">
                                                    <div class="grid-container">
                                                        <input type="hidden" name="old-name" value="{{name}}">
                                                        <div class="cell" style="border-top-left-radius: 10px;"><label for="name">Name:</label></div>
                                                        <div class="cell" style="border-top-right-radius: 10px;"><input type="text" value="{{name}}" class="form-control" id="cat-name" name="cat-name"></div>
                                                        <div class="cell"><label for="color-picker">Choose a color:</label></div>
                                                        <div class="cell"><input style="width: 100%;" type="color" id="cat-color" name="color-picker" value="{{this.color}}"></div>
                                                        <div class="cell" style="border-bottom-left-radius: 10px;"><label for="message">Detail:</label></div>
                                                        <div class="cell" style="border-bottom-right-radius: 10px;"><textarea class="form-control" id="cat-detail" name="detail" rows="3">{{this.detail}}</textarea></div>
                                                    </div>   
                                                </div>
                                                <br>
                                                
                                                <div class="modal-footer justify-content-center" >  
                                                    <input type="submit" name="submitButton" style="background-color: #9C4444; color: white;" class="btn" value="Delete">
                                                    <input type="submit" name="submitButton" class="btn btn-primary" value="Update">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="col">{{detail}}</p>
                    </div>
                </div>    
                {{/each}}
                 <div class="col-lg-12">
                    <nav aria-label="Page navigation example" id="pagination">
                        {{{createPagination pagination paginationClass="pagination justify-content-center"
                        leftText="<" rightText=">" }}} </nav>
                </div>
               
                <br>
                <div id="add-cat-form" class="container d-flex justify-content-center">
                    <button type="button" id="add-cat" data-toggle="modal" data-target="#myModal" class="d-flex justify-content-center align-items-center">Add Category</button>
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Add category</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form action="/admin/categories/add" method="POST"> 
                                        <div class="form-group">
                                            <div class="grid-container">
                                                <div class="cell" style="border-top-left-radius: 10px;"><label for="name">Name:</label></div>
                                                <div class="cell" style="border-top-right-radius: 10px;"><input type="text" class="form-control" id="cat-name-add" name="cat-name" required></div>
                                                <div class="cell"><label for="color-picker">Choose a color:</label></div>
                                                <div class="cell"><input style="width: 100%;" type="color" id="cat-color-add" name="color-picker" required></div>
                                                <div class="cell" style="border-bottom-left-radius: 10px;"><label for="message">Detail:</label></div>
                                                <div class="cell" style="border-bottom-right-radius: 10px;"><textarea class="form-control" id="cat-detail" name="detail" rows="3" required></textarea></div>
                                            </div>   
                                        </div>
                                        <br>
                                        
                                        <div class="modal-footer justify-content-center" >  
                                            <button type="submit" class="btn btn-primary">Add</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <style>
        #btn-home {
     background-color: #357C4D; 
}
    </style>
       <script>
        document.getElementById('btn-paper-management').addEventListener('click', () => {
            window.location.href = `/admin/list-paper`;
        })

        document.getElementById('btn-role-management').addEventListener('click', () => {
            window.location.href = `/admin/list-user`;
        })

        document.getElementById('btn-home').addEventListener('click', () => {
            window.location.href = `/admin/categories`;
        })
    </script>