<main>
    <nav class="navbar navbar-expand-sm navbar-dark bg-white container mb-2">
        <div class="container">
        <ul class="navbar-nav mt-2 mt-lg-0 col">
            <li class="nav-option nav-tag col text-center p-2" id="btn-home">
                <a class="nav-link " href="/admin/categories" aria-current="page">Category & Tag Management</a>
            </li>
            <li class="nav-option nav-tag col text-center p-2" id="btn-paper-management">
                <a class="nav-link" href="/admin/list-paper">Paper Management</a>
            </li>
            <li class="nav-option nav-tag col text-center p-2" id="btn-role-management">
                <a class="nav-link" href="/admin/list-user">Role Management</a>
            </li>
        </ul>
    </div>
    </nav>
    <form action="#" class="searchform order-sm-start order-lg-last">
        <div class="form-group d-flex mx-4">
            <input type=" text" class="form-control pl-3" placeholder="Search">
            <button type="guestmit" placeholder="" class="btn-search bg-light border border-1 rounded">
                <i class="bi bi-search"></i>
            </button>
        </div>
    </form>

    <div class="row" id="paper-management">
        <div class="option col-2 d-flex px-5 justify-content-center align-items-center">
            <div class="container">
                <a class="option-to-choose option-link d-block" id="view-list-option" href="#" style="color: black;">
                    List paper</a>
                <a class="option-to-choose option-link d-block" id="list-pending-option" style="color: #21ab51;"><i
                        class="fa-solid fa-caret-right"></i> Pending review</a>
            </div>
            <div class="vertical-line" style="border-left: 1px solid black; height: 100%;"></div>
        </div>
        <div id="view-field mt-5 mb-5" class="col-9 d-flex align-items-center">

            <div id="list-pending" class="cate row w-100">
                {{#each listPaper}}
                <div class="row">
                    <div class="paper-container col-10 row mb-2">
                    <div><img src="images//admin/draft.png" alt="your-image-alt"></div>
                    <div class="paper col d-flex align-items-center">
                        <div>
                            <img src="images//blog-img/1.png" alt="" class="paper-img">
                        </div>
                        <div id="paper-detail">
                            <div class="paper-title">
                                <h4>
                                    <div class="paper-title">
                                        <h4><a class="review-title item-title m-0 p-1" href="#">{{this.title}}</a></h4>
                                    </div>
                                </h4>
                            </div>
                            <div class="paper-create-day">14, March, 2023</div>
                            <div class="paper-mini-category d-inline-flex justify-content-center align-items-center"
                                style="background-color: {{this.category_id.color}};">{{this.category_id.name}}</div>
                            <div class="paper-tag-container row mt-1">
                                {{#each this.tags}}
                                <div
                                    class="paper-mini-tag col-auto d-inline-flex justify-content-center align-items-center">
                                    {{this.name}}</div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="renew-account-btn col-2 dropdown d-flex justify-content-center align-items-center">
                        <button id="publish-btn" class="w-100">
                            <a style="text-decoration: none; color:black" href="pending-review/publish?paper_id={{this._id}}">Publish</a>
                        </button>
                    </div>
                </div>
                

                {{/each}}
                <br>
            </div>
        </div>
         <div class="col-lg-12">
            <nav aria-label="Page navigation example" id="pagination">
                {{{createPagination pagination paginationClass="pagination justify-content-center"
                leftText="<" rightText=">" }}} </nav>
        </div>
    </div>
    <style>
        #btn-paper-management {
            background-color: #357C4D;
        }
    </style>
    <script>
        document.getElementById('btn-paper-management').addEventListener('click', () => {
        })

        document.getElementById('btn-role-management').addEventListener('click', () => {
            window.location.href = `/admin/list-user`;
        })

        document.getElementById('btn-home').addEventListener('click', () => {
            const elements = Array.from(document.getElementsByClassName("nav-option"));
            window.location.href = `/admin/categories`;
        })
        document.getElementById('view-list-option').addEventListener('click', () => {
            window.location.href = `/admin/list-paper`;
        })
    </script>
</main>