<main>
    <form action="/writer/postPaper" method="POST" enctype="multipart/form-data">
        <div class="container my-4">
            <div class="row">
                <div class="profile-left col-2">
                    <nav class="navbar">
                        <ul class="nav navbar-nav">
                            <li class="nav-item-info">
                                <div class="nav-link left-item" id="create-new-post-item"
                                    style="font-size: 18px; font-weight: 600; color:#357C4D;"> Create a new post</div>
                            </li>
                            <li class="nav-item-info">
                                <a href="/writer/published" class="nav-link left-item" id="my-paper-item"
                                    style="font-size: 18px; font-weight: 600; color:#000000;"> My paper
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>

                <div class="home-right profile col-9 bg-light position-relative" id="create-new-post">

                    <input type="hidden" name="user_id" value="{{id}}">
                    <div class="right-title fs-4 m-3 mb-4"> Create a new post
                    </div>
                    <div class="right-item d-flex align-items-center my-2">
                        <div class="right-item-input text-end px-3" id="title">Title
                        </div>
                        <input class="input w-50 border border-secondary rounded-3 p-2 text-dark" type="text"
                            name="title" placeholder="Title" required>
                    </div>
                    <div class="right-item d-flex align-items-center my-2">
                        <div class="right-item-input text-end px-3" id="tag">Tag
                        </div>
                        {{!-- <select id="inputTag" multiple
                            class="input w-50 border border-secondary rounded-3 p-2 text-dark" name="tag"
                            placeholder="Chọn nhãn" data-search="true" data-silent-initial-value-set="true">

                            {{#each tags}}
                            <option value="{{id}}">{{name}}</option>
                            {{/each}}

                        </select> --}}
                        <select id="inpTag" multiple class="input w-50 border border-secondary rounded-3 p-2 text-dark"
                            name="tags" placeholder="Tags" data-search="true" data-silent-initial-value-set="true"
                            style="background-color:#ffffff" required>
                            {{#each tags}}
                            <option value="{{id}}">{{name}}</option>
                            {{/each}}
                        </select>

                        {{!-- <select class="input w-50 border border-secondary rounded-3 p-2 text-dark" name="tags"
                            placeholder="Tag for your paper">
                            <option value="" disabled selected>Tag for your paper
                            </option>
                            {{#each tags}}
                            <option value="{{id}}">{{name}}</option>
                            {{/each}}
                        </select> --}}
                    </div>
                    <div class="right-item d-flex align-items-center my-2">
                        <div class="right-item-input text-end px-3" id="category">Category</div>

                        <select id="inpCat" class="input w-50 border border-secondary rounded-3 p-2 text-dark"
                            name="category" placeholder="Category for your paper" data-search="true"
                            data-silent-initial-value-set="true" style="background-color:#ffffff" required>
                            <option value="" disabled selected>Category</option>
                            {{#each categories}}
                            <option value="{{id}}">{{name}}</option>
                            {{/each}}
                        </select>

                        {{!-- <select class="input w-50 border border-secondary rounded-3 p-2" name="category"
                            placeholder="Category for your paper" required data-search="true"
                            data-silent-initial-value-set="true">
                            <option value="" disabled selected>Category for your paper</option>
                            {{#each categories}}
                            <option value="{{id}}">{{name}}</option>
                            {{/each}}
                        </select> --}}


                    </div>
                    <div class="right-item d-flex align-items-center my-5">
                        <div class="right-item-input text-end px-3" id="abstract">Abstract
                        </div>
                        <textarea class="input w-75 border border-secondary rounded-3 p-2 text-dark" name="abstract"
                            cols="40" rows="5" placeholder="Abstract"></textarea>
                        {{!-- <input class="input w-75 border border-secondary rounded-3 p-2 text-dark" type="text"
                            name="abstract" placeholder="Abstract" required style="height: 100px;"> --}}
                    </div>
                    <div class="right-item text-center" id="avatar">
                        Avatar
                        <div class="nothing">
                            {{!-- {{#if avatar}}
                            <img class="nothing" id="chosen-img-paper" src="/images/{{avatar}}"
                                alt="/images/{{avatar}}">
                            {{else}} --}}
                            <img class="nothing" id="chosen-img-paper" src="/images/avatar.png"
                                alt="/images/avatar.png">
                            {{!-- {{/if}} --}}
                            <div class="browse">
                                <label for="fileUploadPaper">
                                    <div>Browse from local</div>
                                </label>
                                <input type="file" accept=".jpg,.jpeg,.png" name="avaPaper" id="fileUploadPaper"
                                    style="display:none" required>
                                {{!-- <input name="avaPaper" type="file" accept=".jpg,.jpeg,.png" id="load-avatar"
                                    value="Browse from local" required> --}}
                            </div>
                        </div>
                    </div>
                    <div class="form-input fs-5 mt-5 text-center">Content
                        {{!-- <form class="mt-2" action="" method="post"> --}}
                            <textarea name="content" id="default"></textarea>
                            <button type="submit" id="create-btn">Create</button>
                    </div>

                </div>
            </div>
        </div>
    </form>
</main>