<main>
    <div class="container my-4">
        <div class="row">
            <div class="home-left col-2">
                <nav class="navbar">
                    <ul class="nav navbar-nav">
                        <li class="nav-item-info">
                            <div class="nav-link left-item" id="create-new-post-item"
                                style="font-size: 18px; font-weight: 600;">
                                <a href="/editor/" style="text-decoration:none; color:#357C4D;"> List draft paper</a>
                            </div>
                        </li>
                        <li class="nav-item-info">
                            <div class="nav-link left-item" id="create-new-post-item"
                                style="font-size: 18px; font-weight: 600;">
                                <a href="/editor/approve" style="text-decoration:none; color:#000000;"> List approve
                                    paper</a>
                            </div>
                        </li>
                        <li class="nav-item-info">
                            <div class="nav-link left-item" id="create-new-post-item"
                                style="font-size: 18px; font-weight: 600;">
                                <a href="/editor/reject" style="text-decoration:none; color:#000000;"> List reject
                                    paper</a>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="home-right profile col-9 bg-light position-relative" id="profile">
                <div class="right-title fs-4 m-3 mb-4"> List draft paper
                </div>
                {{#if listDraft}}
                {{#each listDraft}}
                <div class="right-item d-flex align-items-center my-2" style="position: relative;">
                    <div class="item p-2 d-flex">
                        <div class="d-flex mb-3">
                            <div>
                                <img class="item-img" src="/images/{{metadata_id.avaPaper}}"
                                    alt="website template image" style="width:150px;height:150px;object-fit:cover;">
                            </div>
                            <div class="w-100 d-flex flex-column bg-light px-3" style="height:180px;">
                                <div class="mb-1" style="font-size:13px;">
                                    <a class="item-title m-0" href="#" id="title">{{title}}
                                    </a>
                                    <div class="item-date">{{{timeChange publicationDate}}}</div>
                                    <div class="item-tag my-1">
                                        {{#each this.tags}}
                                        <a class="bg-secondary text-decoration-none text-white rounded-3"
                                            href="#">{{name}}
                                        </a>
                                        {{/each}}
                                    </div>
                                    <a class="item-category text-white text-decoration-none rounded-3"
                                        style="background-color: {{category_id.color}}" href="#">
                                        {{category_id.name}}
                                    </a>
                                    <p class="item-demo mt-2">{{metadata_id.abstract}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="option">
                            <button class="option-item text-white bg-success m-2"
                                style="position: absolute; right: 20px; top:10px" id="accept-btn">Accept</button>
                            <form class="container" action="/editor/accept/{{this._id}}?_method=PUT" method="POST"
                                id="accept-overlay">
                                <div class="title fs-4 m-3 mb-4"> Accept
                                </div>
                                <div class="item d-flex align-items-center mx-5 my-4">
                                    <div class="name text-end px-3 py-2">Date</div>
                                    <input class="input w-75 border border-secondary rounded-3 p-2 text-dark"
                                        type="date" placeholder="Date" name="date">
                                </div>

                                <div class="item d-flex align-items-center mx-5 my-4">
                                    <div class="name text-end px-3 py-2">Time</div>
                                    <input class="input w-75 border border-secondary rounded-3 p-2 text-dark"
                                        type="time" placeholder="Time" name="time">
                                </div>

                                <div class="item d-flex justify-content-end mx-5 my-4">
                                    <div class="px-2">
                                        <button
                                            class="btn-cancel w-10 border bg-secondary text-white rounded-3 px-3 py-1"
                                            id="cancel-btn" type="button">Cancel
                                        </button>
                                    </div>
                                    <div>
                                        <button class="btn-save w-10 border bg-success text-white rounded-3 px-3 py-1"
                                            id="save-btn" type="submit">Save
                                        </button>
                                    </div>
                                </div>

                            </form>
                            <button class="option-item text-white bg-danger m-2" id="reject-btn"
                                style="position: absolute; right: 20px; top:50px">Reject</button>
                            <form class="container" action="/editor/reject/{{this._id}}?_method=PUT" method="POST"
                                id="reject-overlay">
                                <div class="title fs-4 m-3 mb-4"> Reject
                                </div>
                                <div class="item  mx-5 my-4">
                                    <div class="name py-2">Note
                                    </div>
                                    <textarea class="input w-100 h-100 border border-secondary rounded-3 p-2 text-dark"
                                        placeholder="Note" name="note" rows="7" required></textarea>
                                </div>
                                <div class=" item d-flex justify-content-end mx-5 my-4">
                                    <div class="px-2">
                                        <button
                                            class="btn-cancel w-10 border bg-secondary text-white rounded-3 px-3 py-1"
                                            id="cancel-btn" type="button">Cancel
                                        </button>
                                    </div>
                                    <div>
                                        <button class="btn-save w-10 border bg-success text-white rounded-3 px-3 py-1"
                                            id="save-btn" type="submit">Save
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
            <div class="col-lg-12">
                <nav aria-label="Page navigation example" id="pagination">
                    {{{createPagination pagination paginationClass="pagination justify-content-center"
                    leftText="<" rightText=">" }}} </nav>
            </div>
            {{else}}
            <div>
                <h3 style="text-align: center;">Empty</h3>
            </div>
            {{/if}}
        </div>
    </div>
</main>
<div id="background"></div>
<script>
    document.querySelectorAll('#pagination li').forEach(li => {
        li.classList.add('page-item');
    })
    document.querySelectorAll('#pagination a').forEach(a => {
        a.classList.add('page-link');
    })
</script>