<main>
    <form action="/editor/profile" method="POST" enctype="multipart/form-data">
        <div class="container my-4">
            <div class="row">
                <div class="profile-left col-3">
                    <nav class="navbar">
                        <ul class="nav navbar-nav">
                            <li class="nav-item text-muted" style="position: relative;">
                                {{#if avatar}}
                                <img class="avatar-img" id="chosen-img" src="/images/{{avatar}}"
                                    alt="/images/{{avatar}}">
                                {{else}}
                                <img class="avatar-img" id="chosen-img" src="/images/avatar.png"
                                    alt="/images/avatar.png">
                                {{/if}}
                                <label for="fileUpload">
                                    <i class="bi bi-camera-fill"
                                        style="position: absolute; bottom:20px; right:55px"></i>
                                </label>
                                <input type="file" accept=".jpg,.jpeg,.png" name="avatar" id="fileUpload"
                                    style="display:none">


                                <div class=" time-remaining">Time remanining
                                </div>
                            </li>
                            <li class="nav-item-info">
                                <a href="/editor/profile" class="nav-link left-item" id="profile-item"
                                    style="font-size: 18px; font-weight: 600; color:#357C4D;"> Profile </a>
                            </li>
                            <li class="nav-item-info">
                                <a href="/editor/change-pwd" class="nav-link left-item" id="change-pwd-item"
                                    style="font-size: 18px; font-weight: 600;"> Change Password
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>

                <div class="profile-right profile col-8 bg-light" id="profile">
                    <div class="right-title fs-4 m-3 mb-4"> Profile
                    </div>
                    {{#if updateMessage}}
                    <div class="col md-12">
                        <div class="p-3 mt-3 alert alert-success">
                            {{updateMessage}}
                        </div>
                    </div>
                    {{/if}}
                    <input type="hidden" name="user_id" value="{{id}}">
                    <div class="right-item d-flex align-items-center mx-5 my-4">
                        <div class="w-25 text-end px-3 py-2">Name
                        </div>

                        <input class="input w-50 border border-secondary rounded-3 p-2 text-dark" type="text"
                            placeholder="Name" name="name" value="{{name}}" required>
                    </div>
                    <div class="right-item d-flex align-items-center mx-5 my-4">
                        <div class="w-25 text-end px-3 py-2">Email
                        </div>
                        <input class="input w-50 border border-secondary rounded-3 p-2 text-dark" type="text"
                            placeholder="Email" name="email" value="{{email}}">
                    </div>

                    <div class="right-item d-flex align-items-center mx-5 my-4">
                        <div class="w-25 text-end px-3 py-2">Date of birth</div>
                        <input class="input w-50 border border-secondary rounded-3 p-2 text-dark" type="date"
                            placeholder="mm/dd/yyyy" name="dob" value="{{dob}}">
                    </div>
                    <div class="right-item d-flex align-items-center mx-5 my-4">
                        <div class="w-25 text-end px-3 py-2">
                        </div>
                        <button class="btn-save w-10 border bg-success text-white rounded-3 px-3 py-1" id="save-btn"
                            type="submit">Save
                        </button>
                    </div>
                </div>



                {{!-- <div class="profile-right change-pwd col-8 bg-light" id="change-pwd">
                    <div class="right-title fs-4 m-3 mb-4 d-flex justify-content-between">
                        <div clas="right-title-text">Change Password
                        </div>
                    </div>

                    <div class="right-item d-flex align-items-center mx-5 my-4">
                        <div class="w-25 text-end px-3 py-2">Current Password
                        </div>
                        <input class="input w-50 border border-secondary rounded-3 p-2 text-dark" type="password"
                            placeholder="" id="cur-pwd">
                    </div>
                    <div class="right-item d-flex align-items-center mx-5 my-4">
                        <div class="w-25 text-end px-3 py-2">New Password
                        </div>
                        <input class="input w-50 border border-secondary rounded-3 p-2 text-dark" type="password"
                            placeholder="" id="new-pwd" required onchange="validatePassword()">
                    </div>
                    <div class="right-item d-flex align-items-center mx-5 my-4">
                        <div class="w-25 text-end px-3 py-2">Confirm Password</div>
                        <input class="input w-50 border border-secondary rounded-3 p-2 text-dark" type="password"
                            placeholder="" id="confirm-pwd" required placeholder="" onkeyup="validatePassword()">
                    </div>
                    <div class="right-item d-flex align-items-center mx-5 my-4">
                        <div class="w-25 text-end px-3 py-2">
                        </div>
                        <button class="btn-save w-10 border bg-success text-white rounded-3 px-3 py-1" type="submit"
                            id="confirm-btn">
                            Confirm
                        </button>
                    </div>
                </div> --}}
            </div>
        </div>
    </form>
</main>

{{!--
<div id="background-full"></div>
<div id="overlay-show"></div> --}}