<main>
    <div class="container my-5 mt-5 ">
        <div class="row justify-content-around pt-5">
            <div class="top-3-on-week col-7">
                <div class="top-3 h4 m-1 pb-2 mb-4 text-success">Top 3 on week
                    <span class="line"></span>
                </div>

                <div id="carouselId" class="carousel slide" data-bs-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-bs-target="#carouselId" data-bs-slide-to="0" class="active" aria-current="true"
                            aria-label="First slide"></li>
                        <li data-bs-target="#carouselId" data-bs-slide-to="1" aria-label="Second slide"></li>
                        <li data-bs-target="#carouselId" data-bs-slide-to="2" aria-label="Third slide"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        {{#with topWeekPapers.[0]}}
                        <div class="carousel-item active position-relative">
                            <img src="/images/{{metadata_id.avaPaper}}" class="w-100 d-block" alt="First slide"
                                id="top3img">
                            <div class="carousel-caption">
                                <h5>
                                    {{!-- <a href="#" class="text-decoration-none text-white" id="title">{{title}}</a>
                                    --}}
                                    {{#if isPremium}}
                                    {{{checkTopWeekPremium ../checkPremium this.title}}}
                                    {{else}}
                                    <a href="#" class="text-decoration-none text-white" id="title">{{title}}</a>
                                    </a>
                                    {{/if}}
                                </h5>
                                <p>{{{timeChange publicationDate}}}</p>
                            </div>
                            <div class="top-3-category position-absolute top-0 start-0 text-white p-2 rounded-3 m-3 text-centerd"
                                style="background-color: {{category_id.color}}" href="#">
                                {{{category_id.name}}}
                                </d>
                            </div>
                        </div>
                        {{/with}}
                        {{#with topWeekPapers.[1]}}
                        <div class="carousel-item">
                            <img src="/images/{{metadata_id.avaPaper}}" class="d-block" alt="Second slide" id="top3img">
                            <div class="carousel-caption">
                                <h5>
                                    {{#if isPremium}}
                                    {{{checkTopWeekPremium ../checkPremium this.title}}}
                                    {{else}}
                                    <a href="#" class="text-decoration-none text-white" id="title">{{title}}</a>
                                    </a>
                                    {{/if}}
                                </h5>
                                <p>{{{timeChange publicationDate}}}</p>
                            </div>
                            <div class="top-3-category position-absolute top-0 start-0 text-white p-2 rounded-3 m-3 text-centerd"
                                style="background-color: {{category_id.color}}" href="#">
                                {{{category_id.name}}}
                            </div>
                        </div>
                        {{/with}}
                        {{#with topWeekPapers.[2]}}
                        <div class="carousel-item">
                            <img src="/images/{{metadata_id.avaPaper}}" class="w-100 d-block" alt="Third slide"
                                id="top3img">
                            <div class="carousel-caption">
                                <h5>
                                    {{#if isPremium}}
                                    {{{checkTopWeekPremium ../checkPremium this.title}}}
                                    {{else}}
                                    <a href="#" class="text-decoration-none text-white" id="title">{{title}}</a>
                                    </a>
                                    {{/if}}
                                </h5>
                                <p>{{{timeChange publicationDate}}}</p>
                            </div>
                            <div class="top-3-category position-absolute top-0 start-0 text-white p-2 rounded-3 m-3 text-centerd"
                                style="background-color: {{category_id.color}}" href="#">
                                {{{category_id.name}}}
                            </div>
                        </div>
                        {{/with}}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselId"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselId"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="top-10 col-4">
                <div class="d-flex justify-content-around pt-2">
                    <span class="top-10-trending h6" id="top-10-trend" style="color: #198754">Top 10 trending
                    </span>
                    <span class="top-10-newest h6" id="top-10-new" style="color: #6bca8a;">Top 10 newest
                    </span>
                </div>
                <span class="line mb-5"></span>
                <div class="scroll " id="scroll-style-trend">
                    {{#each topTrendPapers}}
                    <div class="top-10-item">
                        <div class="d-flex mb-3">
                            <img src="/images/{{metadata_id.avaPaper}}" alt="website template image"
                                style="width:60%;height:120px;object-fit:cover;">
                            <div class="w-100 d-flex flex-column bg-light px-3" style="height:120px;">
                                <div class="mb-1" style="font-size:13px;">
                                    <div class="top-10-item-date p-1">{{timeChange publicationDate}}</div>
                                    <div class="top-10-item-category text-white p-1 rounded-3" href="#"
                                        style="background-color: {{category_id.color}}">
                                        {{category_id.name}}
                                    </div>
                                    {{#if isPremium}}
                                    {{{checkTop10Premium ../checkPremium this.title}}}
                                    {{else}}
                                    <a class="top-10-item-title m-0 p-1" href="#" id="title">{{title}}</a>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
                <div class="scroll " id="scroll-style-new">
                    {{#each topNewPapers}}
                    <div class="top-10-item">
                        <div class="d-flex mb-3">
                            <img src="/images/{{metadata_id.avaPaper}}" alt="website template image"
                                style="width:60%;height:120px;object-fit:cover;">
                            <div class="w-100 d-flex flex-column bg-light px-3" style="height:120px;">
                                <div class="mb-1" style="font-size:13px;">
                                    <div class="top-10-item-date p-1">{{{timeChange publicationDate}}}</div>
                                    <div class="top-10-item-category text-white p-1 rounded-3"
                                        style="background-color: {{category_id.color}}" href="#">
                                        {{category_id.name}}
                                    </div>
                                    {{#if isPremium}}
                                    {{{checkTop10Premium ../checkPremium this.title}}}
                                    {{else}}
                                    <a class="top-10-item-title m-0 p-1" href="#" id="title">{{title}}</a>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}


                </div>
            </div>
        </div>
    </div>



    <div class="container my-5 mt-5 ">
        <div class="top-3 h4 m-1 pb-2 mb-4 text-success">Top 10 Category
            <span class="line"></span>
        </div>

        <div class="top-10-category m-2">
            {{#each top10Cat}}
            <div class="top-10-item p-3">
                <div class="d-flex mb-3">
                    <div>
                        <img src="/images/{{metadata_id.avaPaper}}" alt="website template image"
                            style="width:120px;height:120px;object-fit:cover;">
                    </div>
                    <div class="w-100 d-flex flex-column bg-light px-3" style="height:120px;">
                        <div class="mb-1" style="font-size:13px;">
                            <div class="top-10-item-date p-1">{{{timeChange publicationDate}}}</div>
                            <div class="top-10-item-category text-white p-1 rounded-3"
                                style="background-color: {{category_id.color}}" href="#">
                                {{category_id.name}}
                            </div>
                            {{#if isPremium}}
                            {{{checkTop10Premium ../checkPremium this.title}}}
                            {{else}}
                            <a class="top-10-item-title m-0 p-1" href="#" id="title">{{title}}</a>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>

    </div>
    </div>


    <div class="container my-3">
        <div class="top-3 h4 m-1 pb-2 mb-4 text-success">Other Paper
            <span class="line"></span>
        </div>
        <div class="card-body container">
            <div class="row ">
                {{#each otherPapers}}
                <div class="col-lg-3 col-md-4 col-sm-6 mt-3">
                    <div class="d-flex ">
                        <img src="/images/{{metadata_id.avaPaper}}" alt="" class="img-thumbnail"
                            style="width:100%;height:300px">
                    </div>
                    <div class="w-100 d-flex flex-column bg-light px-3" style="height:120px;">
                        <div class="mb-1" style="font-size:13px;">
                            <div class="top-10-item-date p-1">{{{timeChange publicationDate}}}</div>
                            <div class="top-10-item-category text-white p-1 rounded-3"
                                style="background-color: {{category_id.color}}" href=" #">
                                {{category_id.name}}
                            </div>
                            {{#if isPremium}}
                            {{{checkTop10Premium ../checkPremium this.title}}}
                            {{else}}
                            <a class="top-10-item-title m-0 p-1" href="#" id="title">{{title}}</a>
                            {{/if}}
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>

</main>